
/* boarder around cards
image of animal on the front with boarder
trashcan icon in lower left corner 
*/

.flashcard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 1.1rem;
    font-weight: 00;

}
.flashcard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1600px;
    height: 1500px;
    justify-content: center;
    align-items: center;
    /* border: rgba(0, 0, 0, 0.5) 2.5px solid; */
    margin: 100px auto;
}

.flashcard {
    position: relative;
    width: 65%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    transform-style: preserve-3d;
    transition: all .8s ease;
    margin: 10px auto;
    
}

.flashcard-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flipCard {
    transform: rotateY(180deg);
}


.flashCardImage {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.hover {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.form-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    background: #515DA2;
    opacity: .8;
}

.add-toy-form {
    width: 90%;
    position: relative;
    justify-self: center;
}

  /*submit create card*/
  .submit {
    position: relative;
    background-color: #e04b52;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }

  /*submit create card*/
  .submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  /*name and image*/
    .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
  



